<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="Shortcut Icon" href="../../images/icon.ico" type="image/x-icon">
    <script src="../../js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="./css/Introduction.css">
    <title>悦农通，专注农业金融服务</title>
</head>

<body>
    <header>
        <div class="header-wrap">
            <a href="../../index.html">
                <div class="header-logo">
                    <img src="../../images/logo-title.png" alt="">
                </div>
            </a>
            <div class="header-title">
                <ul>
                    <li>
                        <a href="../../index.html">
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="../about/about.html">
                            <span>关于我们</span>
                        </a>
                    </li>
                    <li>
                        <div class="produce">
                            <div class="produce-title">
                                <span class="active">
                                    功能介绍
                                </span>
                            </div>
                            <div class="produce-content">
                                <a href="javascript:;">
                                    <span>
                                        在线投保
                                    </span>
                                </a>
                                <a href="./Introduction2.html">
                                    <span>
                                        我要贷款
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section>
        <div class="Online">
            <div class="Online-left">
                <img src="../../images/Introduction/Online.png" ondragstart="return false" alt="">
                <div class="swiper-container swiper-no-swiping">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../images/Introduction/Online1.png" ondragstart="return false" alt="banner01">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/Introduction/Online2.png" ondragstart="return false" alt="banner01">
                        </div>
                    </div>
                </div>
            </div>
            <div class="Online-right">
                <span class="Online1">在线投保</span>
                <span class="Online2">Online insurance</span>
                <p class="Online3"> 快速查询本地农业保险</p>
                <p class="Online4">选定农业保险，直接线上投保</p>
                <p class="Online5">所有保单尽在手上</p>
                <p class="Online6">用了悦农通，理赔真轻松！</p>
                <img src="../../images/Introduction/er.png" ondragstart="return false" alt="扫描下载">
                <span class="Online7">扫码下载，立马体验</span>
            </div>
        </div>
        <div class="loan">
            <div class="loan-left">
                <div class="swiper-container swiper-no-swiping">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <span class="loan1">我要贷款</span>
                            <span class="loan2">I want to loan</span>
                            <p class="loan3"> 使用更便捷，贷款更方便，快速到账</p>
                            <p class="loan4">
                                <img src="../../images/Introduction/loan1.png" ondragstart="return false" />
                                <span>用户根据自己的需求，选择贷款的种类主要有种植贷/农资贷/农贸贷等</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan5">
                                <img src="../../images/Introduction/loan2.png" ondragstart="return false" />
                                <span>线上申请贷款，最快速度审批</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan6">
                                <img src="../../images/Introduction/loan3.png" ondragstart="return false" />
                                <span>支持线上多渠道自助还款</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan7">
                                <img src="../../images/Introduction/loan4.png" ondragstart="return false" />
                                <span>支持分期还款</span>
                            </p>
                            <p class="line"></p>
                        </div>
                        <div class="swiper-slide">
                            <span class="loan1">我要贷款</span>
                            <span class="loan2">I want to loan</span>
                            <p class="loan3"> 使用更便捷，贷款更方便，快速到账</p>
                            <p class="loan4">
                                <img src="../../images/Introduction/loan1.png" ondragstart="return false" />
                                <span>用户根据自己的需求，选择贷款的种类主要有种植贷/农资贷/农贸贷等</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan5">
                                <img src="../../images/Introduction/loan2.png" ondragstart="return false" />
                                <span>线上申请贷款，最快速度审批</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan6">
                                <img src="../../images/Introduction/loan3.png" ondragstart="return false" />
                                <span>支持线上多渠道自助还款</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan7">
                                <img src="../../images/Introduction/loan4.png" ondragstart="return false" />
                                <span>支持分期还款</span>
                            </p>
                            <p class="line"></p>
                        </div>
                        <div class="swiper-slide">
                            <span class="loan1">我要贷款</span>
                            <span class="loan2">I want to loan</span>
                            <p class="loan3"> 使用更便捷，贷款更方便，快速到账</p>
                            <p class="loan4">
                                <img src="../../images/Introduction/loan1.png" ondragstart="return false" />
                                <span>用户根据自己的需求，选择贷款的种类主要有种植贷/农资贷/农贸贷等</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan5">
                                <img src="../../images/Introduction/loan2.png" ondragstart="return false" />
                                <span>线上申请贷款，最快速度审批</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan6">
                                <img src="../../images/Introduction/loan3.png" ondragstart="return false" />
                                <span>支持线上多渠道自助还款</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan7">
                                <img src="../../images/Introduction/loan4.png" ondragstart="return false" />
                                <span>支持分期还款</span>
                            </p>
                            <p class="line"></p>
                        </div>
                        <div class="swiper-slide">
                            <span class="loan1">我要贷款</span>
                            <span class="loan2">I want to loan</span>
                            <p class="loan3"> 使用更便捷，贷款更方便，快速到账</p>
                            <p class="loan4">
                                <img src="../../images/Introduction/loan1.png" ondragstart="return false" />
                                <span>用户根据自己的需求，选择贷款的种类主要有种植贷/农资贷/农贸贷等</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan5">
                                <img src="../../images/Introduction/loan2.png" ondragstart="return false" />
                                <span>线上申请贷款，最快速度审批</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan6">
                                <img src="../../images/Introduction/loan3.png" ondragstart="return false" />
                                <span>支持线上多渠道自助还款</span>
                            </p>
                            <p class="line"></p>
                            <p class="loan7">
                                <img src="../../images/Introduction/loan4.png" ondragstart="return false" />
                                <span>支持分期还款</span>
                            </p>
                            <p class="line"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loan-right">
                <img src="../../images/Introduction/iPhone.png" ondragstart="return false" alt="">
                <div class="swiper-container swiper-no-swiping">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../images/Introduction/loan-banner1.png" ondragstart="return false" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/Introduction/loan-banner2.png" ondragstart="return false" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/Introduction/loan-banner3.png" ondragstart="return false" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="../../images/Introduction/loan-banner4.png" ondragstart="return false" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <footer>
        <div class="left-txt">
            <p>
                <a href target="view_frame">深圳市昆特科技有限公司</a>丨
                <a href target="view_frame">中国气象局</a>丨
                <a href target="view_frame">中国天气网</a>丨
                <a href target="view_frame">中国科协官网</a>丨
                <a href target="view_frame">安华农业</a>丨
                <a href target="view_frame">深圳气象共创平台</a>丨
                <a href target="view_frame">海南台风网</a>丨
                <a href target="view_frame">等风来信息技术有限公司</a>
            </p>
            <p>粤ICP备15002532号 CreditEase 2017-2018 深圳市昆特科技有限公司版权所有</p>
        </div>
        <div class="right-txt">
            <img src="../../images/index/home-5.png" ondragstart="return false" alt="">
        </div>
    </footer>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/tools.js"></script>
<script src="./js/Introduction.js"></script>

</html>