<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="Shortcut Icon" href="../../images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="./css/about.css">
    <title>悦农通，专注农业金融服务</title>
</head>

<body>
    <header>
        <div class="header-wrap">
            <a href="../../index.html">
                <div class="header-logo">
                    <img src="../../images/logo-title.png" alt="">
                </div>
            </a>
            <div class="header-title">
                <ul>
                    <li>
                        <a href="../../index.html">
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="active">关于我们</span>
                        </a>
                    </li>
                    <li>
                        <div class="produce">
                            <div class="produce-title">
                                <span>
                                    功能介绍
                                </span>
                            </div>
                            <div class="produce-content">
                                <a href="../Introduction/Introduction.html">
                                    <span>
                                        在线投保
                                    </span>
                                </a>
                                <a href="../Introduction/Introduction2.html">
                                    <span>
                                        我要贷款
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section>
        <div class="banner">
            <img src="../../images/about/Diagramone.png" alt="">
        </div>
        <div class="content">
            <div class="titleOne">
                <p>who are we
                    <span>/我们是谁</span>
                </p>
            </div>
            <div class="contentOne">
                <div class="contentOne-left">
                    <p>深圳市昆特科技有限公司是一家专注于天气风险服务的国家高新技术企业，是一家为自然灾害防御提供解决方案，并充分利用气象与水文大数据开展商业应用的民营企业，案例遍布全国23个省份约1150个县区。公司研发中心总部设置于成都（下辖北京、深圳、南京、海口、沈阳、兰州、武汉等七个研发分部），并配置有数据研究院与培训中心。公司的基础业务，主要围绕"突发事件预警信息发布平台"的软硬件建设以及科普培训展开，并通过天气大数据的算法与模式探索，服务于天气金融业务。</p>
                    <p>悦农通是以农业保险（重点是天气指数保险）为主干，整合农业信息、农业金融产业，覆盖农业生产全过程的一体化农业金融平台。该平台深度融合了天气指数保险的各主要参与方：地方政府、保险公司（含再保）、银行、气象部门、农科院所和个体农户/农业企业。平台定位：以农业保险、农村普惠金融为核心，与政府部门、金融机构、涉农企业合作，为用户提供一体化快捷精准的保险、农技、农资、贷款等农业信息和农业金融服务,悦农通平台隶属于深圳市昆特科技有限公司。</p>
                </div>
                <div class="content-right marginLeft">
                    <img src="../../images/about/DiagramTwo.png" alt="">
                </div>
            </div>
            <div class="titleOne">
                <p>development path
                    <span>/发展历程</span>
                </p>
            </div>
            <div class="wrap">
                <div class="wrap-left" id="bgleft">
                    <div class="bgleft">
                        <img src="../../images/about/arrow.png" alt="">
                    </div>
                </div>
                <div class="wrap-content">
                    <div class="wrap-inner">
                        <ul id="wrap_content_list">
                            <li class="active">
                                <p>2006-2009年</p>
                                <p>淬炼</p>
                                <p>
                                    <span class="activedian"></span>
                                </p>
                                <p>成立于深圳市南山区,成为海南省防汛防旱防风指挥部信息化保障指定运行维护单位 正式通过国家高新技术企业认证。</p>
                            </li>
                            <li>
                                <p>2010-2013年</p>
                                <p>拓进</p>
                                <p>
                                    <span class="activedian"></span>
                                </p>
                                <p>昆特智能预警产品受邀参展上海世博会“云中水滴”馆。大规模投身预警发布产品的自主研发，产品体系辐射全国，企业员工数目达到史上峰值。其后三年，几度三番重拾旧山河，企业奄奄一息。启动“结庐修身
                                    苦练内功”的运营方针，经过3年试运行，正式引入成熟的财务预算量化管理模式。
                                </p>
                            </li>
                            <li>
                                <p>2014-2015年</p>
                                <p>革新</p>
                                <p>
                                    <span class="activedian"></span>
                                </p>
                                <p>与19家单位共同发起“中国气象服务协会”，并成为常务理事单位。五年预算管理模式探索初现成效，年度销售成交突破亿元大关。</p>
                            </li>
                            <li>
                                <p>2016-2017年</p>
                                <p>突破</p>
                                <p>
                                    <span class="activedian"></span>
                                </p>
                                <p>获CMMI 3国际认证，软件开发实力获业界认可。获上海国鸿至臻、深圳誉勤财富战略投资，正式启动IPO进程，承办中国气象服务协会年会，发布天气金融解决方案。</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wrap-right" id="bgright">
                    <div class="bgright">
                        <img src="../../images/about/arrowSelected.png" alt="">
                    </div>
                </div>
            </div>
            <div class="titleOne">
                <p>Unique advantages
                    <span>/独特优势</span>
                </p>
            </div>
            <div class="contentOne">
                <div class="contentOne-left contentOne-left-first">
                    <p class="about-bold">昆特核心优势，</p>
                    <p class="about-bold">天气风险解决方案领导者!</p>
                    <p>经民政部批准成立的“中国气象服务协会”发起单位之一，中国气象服务协会常务理事，深圳市减灾救灾联合会、气象减灾学会及应急管理学会理事会员，国家突发事件预警发布平台建设者之一。</p>
                    <p class="about-bold">资深资质背景</p>
                    <p>经民政部批准成立的“中国气象服务协会”发起单位之一，中国气象服务协会常务理事，深圳市减灾救灾联合会、气象减灾学会及应急管理学会理事会员，国家突发事件预警发布平台建设者之一，可通过合法途径获得气象、水利、水文、应急、民政、国土、安监、环保、教育、农林、海洋、航空等若干部门数据。</p>
                    <p class="about-bold">研发中心网络</p>
                    <p>研发中心总部设置于成都，下辖北京、深圳、南京、海口、沈阳、兰州、杭州等七个研发分部，于深圳配置有高标准软硬件测试实验室；公司致力于气象学科深入研究，与全国气象学科顶尖高校合作成立研究实验室；每年投入千万级科研基金，组建企业自有的大数据（应用）研究院，于气象指数保险、校园气象“学而思”模式、</p>
                </div>
                <div class="content-right marginLeft">
                    <img src="../../images/about/DiagramThree.png" alt="">
                </div>
            </div>
            <div class="contentOne marginTop0">
                <div class="content-right">
                    <img src="../../images/about/Diagram.png" alt="">
                </div>
                <div class="contentOne-left marginLeft">
                    <p class="about-bold">专注十余年</p>
                    <p>致力于应急减灾事业十余年，软硬件研发、生产、工程、售后配套成熟。长江以南片区，建设有400-500个灾害监测预警中心指挥业务平面，客户投诉率接近于0，平均稳定运行4~5年；全国共投放2万多台监测预警发布终端，上线稳定性行业领先。</p>
                    <p class="about-bold">专业售后服务体系</p>
                    <p>坚持以用户体验为中心，打造一站式服务平台，已建立分布于二十五个省的营销与售后服务保障机构，紧紧围绕着各省份的行政村、自然村展开“神经末梢式”服务，在多次强台风袭击、山洪灾害等事故中展现出高效的应对能力与现场保障实力。因常年防范应急预警体系的异常攻击及信息技术安全隐患，技术体系具备强大的可靠性。</p>
                </div>
            </div>
            <div class="titleOne">
                <p>contact us
                    <span>/联系我们</span>
                </p>
            </div>
            <div class="contactUs">
                <ul id="contactUsList">
                    <li>
                        <div class="address">
                            <img src="../../images/about/address.png" alt="">
                        </div>
                        <p>公司地址</p>
                        <p class="textLeft lastP">深圳市南山区龙珠大道珠光创新科技园3栋4层</p>
                    </li>
                    <li>
                        <div class="phone">
                            <img src="../../images/about/phone.png" alt="">
                        </div>
                        <p>总部电话</p>
                        <p class="lastP">+86-0755-86277818 </p>
                    </li>
                    <li>
                        <div class="fax">
                            <img src="../../images/about/fax.png" alt="">
                        </div>
                        <p>传真</p>
                        <p class="lastP">+86-0755-86277938</p>
                    </li>
                    <li>
                        <div class="mail">
                            <img src="../../images/about/mail.png" alt="">
                        </div>
                        <p>邮件</p>
                        <p class="lastP">kunt@kwantler.com</p>
                    </li>
                </ul>
            </div>
        </div>

    </section>
    <footer>
        <div class="left-txt">
            <p>
                <a href target="view_frame">深圳市昆特科技有限公司</a>丨
                <a href target="view_frame">中国气象局</a>丨
                <a href target="view_frame">中国天气网</a>丨
                <a href target="view_frame">中国科协官网</a>丨
                <a href target="view_frame">安华农业</a>丨
                <a href target="view_frame">深圳气象共创平台</a>丨
                <a href target="view_frame">海南台风网</a>丨
                <a href target="view_frame">等风来信息技术有限公司</a>
            </p>
            <p>粤ICP备15002532号 CreditEase 2017-2018 深圳市昆特科技有限公司版权所有</p>
        </div>
        <div class="right-txt">
            <img src="../../images/index/home-5.png" alt="">
        </div>
    </footer>
    <div class="fantop">
        ^
    </div>
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/tools.js"></script>
<script src="./js/about.js"></script>
</html>